body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/bg2.jpg');


}

/* logo design  */

.left {
    position: absolute;
    top: 20px;
    left: 23px;
    display: inline-block;
    /* border: 2px solid red; */
}

.left img {
    width: 37px;
    display: block;
    margin: auto;
    filter: invert(100%);
}

.left div {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* navbar design    */
.mid {
    display: block;
    width: 40%;
    margin: 35px auto;
    /* border: 2px solid green; */
}

.navbar li {
    display: inline-block;

}

.navbar li a {
    font-family: 'Libre Baskerville', serif;

    color: aliceblue;
    text-decoration: none;
    padding: 5px 15px;
}

.navbar li a:hover {
    color: gray;
    text-decoration: underline;
}

/* button design  */

.right {
    position: absolute;
    top: 20px;
    right: 23px;
    display: inline-block;
    /* border: 2px solid yellow; */
}



.btn {
    background-color: tomato;
    margin: 3px 7px;
    padding: 4px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */

}

.btn:hover {
    background-color: aquamarine;
}

/* form design  */

.container {
    border: 2px solid rgb(235, 229, 229);
    margin: 85px 94px;
    width: 50%;
    padding: 14px;
    border-radius: 30px;
}

.form-groum input {
    text-align: center;
    display: block;
    width: 70%;
    margin: 8px auto;
    padding: 6px 10px;
    border: 2px solid gray;
    border-radius: 14px;
    font-size: 15px;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}


.container .btn {
    display: block;
    width: 74%;
    margin: 3px auto;
    padding: 5px;
    border: 2px solid #181817;
}

.container h1 {
    font-family: 'Tapestry', cursive;
    text-align: center;
    font-size: 50px;
    color: #e2e2db;
}